.editreviewform {
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.editreviewbtn {
    width: 100px;
    border-radius: 20px;
    border: none;
    height: 30px;
    margin-top: 50px;
    background-color: #F1641D;
    color: white;
}

.editreviewbtn:hover {
    box-shadow: 0 0 12px rgb(183, 183, 183);
    cursor: pointer;
}

.rerrors {
    color: red;
    margin-bottom: 40px;
}
