#root {
    height: 100vh;
}

.product-detail-wrapper {
    /* margin: 0px auto 0px auto */
    width: 75%;
    margin: auto;
    height: 100%;
    padding-top: 30px;
}

.product-detail-separator {
    display: flex;
    height: 60vh;
}

.product-detail-left{
    width: 60%;
}

.product-detail-right{
    width: 40%;
}

/* ------------ Image Container ------------ */
.product-detail-image-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: right;
}


.product-detail-image1-container {
    width: 90%;
    height: 100%;
    margin: auto;
    align-content: flex-end;
}

.product-detail-image1-container img {
    width: 100%;
    height: 90%;
    border-radius: 14px;
}

/* ------------ Product Description Container --------- */
.product-detail-description-container {
    width: 100%;
    height: 60%;
}

/* //////////////// */

.product-detail-description-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.product-detail-description-header h1 {
    font-size: 26px;
}
/* ///////////////////////// */
.product-detail-description-price p {
    font-size: 28px;
}
/* ////////////// */
.product-detail-description-body {
    height: 60%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-detail-description-body-description-section p {
    margin-top: 40px;
    font-size: 20px;
}

.product-detail-description-body-add-cart-button {
    width: 100%;
    margin-bottom: 20px;
}

.product-detail-description-body-add-cart-button button {
    width: 100%;
    padding: 12px;
    border-radius: 24px;
    background-color: rgb(255, 165, 0);
    cursor: pointer;
}
.product-detail-description-body-add-cart-button button:hover{
    background-color: rgb(255, 165, 0, 0.8);
}

.product-detail-description-lorem{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.product-detail-description-lorem p{
    padding-left: 12px;
}

/* --------------------- Product Reviews -------------------*/


.product-reviews-header{
    display: flex;
    align-items: center;
}

.product-reviews-header h1{
    padding-right: 12px;
}

.product-reviews-card-wrapper{
    display:flex;
    flex-wrap: wrap;
}
.product-reviews-card-container{
    box-sizing: border-box;
    width: 50%;
    padding-right: 10px;
}

.product-reviews-card-header{
    display: flex;
    align-items: center;
   
    margin-top: 10px;
}

.product-reviews-card-header p{
    margin: 0px;
}

.product-reviews-card-review{
    padding:5px 0px 5px 0px;
    font-size: 18px;
}

.product-reviews-card-product-name {
    display: flex;
    font-size: 14px;
}

.product-reviews-card-product-name p{
    margin: 0px;
    color: grey;
    text-decoration: underline;
}

.product-reviews-card-user{
    display: flex;
}

.product-leave-review-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.product-leave-review-button button{
    width: 33%;
    padding: 12px;
    border-radius: 24px;
    background-color: rgb(255, 165, 0);
    cursor: pointer;
    margin-top: 20px;

}

.product-leave-review-button button:hover {
    background-color: rgb(255, 165, 0, 0.8);
}
