#root{
    height:100vh;
    width:100vw;
    margin:0px;

}
.your-products-outer-wrapper{
    width: 100%;
    height: 100%;
    
}

.your-products-container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto;
    
    padding: 0px 10% 0px 10%
}

.product-card-outer-wrapper{
    display: grid;
    grid-template-columns: repeat( auto-fit, 20%) ;
    /* grid-auto-columns: minmax(1fr, 1fr) minmax(20%, 400px) ; */
    grid-auto-rows: minmax(360px, 600px);
    /* grid-auto-rows: repeat(30%); */
    grid-auto-flow: row dense;
    height: 100%;
    width: 100%;
    gap: 40px 24px;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    
}



.your-products-header button{
    width: 100%;
    padding: 12px;
    border-radius: 24px;
    background-color: rgb(255, 165, 0);
    cursor: pointer;
    
}
.your-products-header button:hover{
    background-color: rgb(255, 165, 0, 0.8);
}

.your-products-button-container{
    width:33%;
    margin: auto;
}
