.reviewform {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 200px;
}

.reviewsubmit {
    width: 100px;
    border-radius: 20px;
    border: none;
    height: 30px;
    margin-top: 40px;
    background-color: #F1641D;
    color: white;
    margin-left: 15px;
    margin-bottom: 30px;
}

.reviewsubmit:hover {
    box-shadow: 0 0 12px rgb(183, 183, 183);
    cursor: pointer;
}

.reviewformheader {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.editrerrors {
    color: red;
    margin-bottom: 40px;
}
