.footerWrapper {
    /* margin-top: 10%; */
    /* background-color: white; */
    padding-top: 5px;
    background-color: white;
    width: 100%;
    height: 40px;
    border-top: 1px solid black;
    position: fixed;
    bottom: 0;
}

.foot-outer-cont {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 20%;
}

.dev-names {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    /* border: 1px solid red; */
    width: 100%;
}

.yste-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 15%;
    margin-right: 5%;
}

.dev-ind {
    display: flex;
    flex-direction: row;
    justify-items: center;
    font-weight: 700;
    margin-top: 5px;
    color: black;

}

.ind-link {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    color: black;
    margin-right: 5px;
}

.yste-text {
    text-decoration: none;
    /* font-weight: bolder; */
    color: #F1641D;
    /* font-family: 'Bodoni Moda', serif; */
}

.greeting {
    display: flex;
    color: black;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
    font-weight: 700;
    margin-top: 10px;
}
.greeting div{
    /* border-bottom: 1px solid black; */
}

.theDevName{
    margin-right: 5px;
    color: black;
}
