.signup-form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}


.signupform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px lightgray;
    width: 800px;
    height: 730px;
}
.signupform:hover{
    box-shadow: 0 0 12px rgb(183, 183, 183);
    cursor: pointer;

}
.signupbtn {
    width: 200px;
    border-radius: 20px;
    border: none;
    height: 42px;
    margin-top: 50px;
    margin-left: 37%;
    margin-right: 37%;
    background-color: #F1641D;
    color: white;

}


.signupbtn:hover {
    box-shadow: 0 0 12px rgb(183, 183, 183);
    cursor: pointer;
}

.signuperrors {
    color: red;
    margin-bottom: 40px;
    position: relative;
    left: 26px;
    top: 39px;

}

.signup-input-field{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 6px;
    border-radius: 10px;
    position: relative;
    top:25px;
    left: 14px;
    height: 30px;
    padding: 12px 20px;
}

.signup-welcome {
    font-size: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 25px
}

.signup {
    font-size: 30px;
    display: flex;
    justify-content: center;
    /* position: relative;
    bottom: 12px; */
}
