.searchWrapper{
    display: flex;
    width: 500px;

}
.searchForm{
    display: flex;
    align-items: center;
    width: 100%;
    /* position: absolute;
    left: 0; */
    margin-right: 30px;
}

.formWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}


.theSearchBar{
    width: 450px;
    height: 60px;
    border:2px solid black;
    border-radius: 50px;
    padding-left: 20px;
    background-color: #F4F4F4;
    font-size: 20px;
}
.theSearchBar:focus{
    outline-width: 0;
    background-color: white;
}

.buttonWrapper{
    width: 10px;
    padding: 0;

}
.searchButton{
    width: 50px;
    height: 50px;
    padding: 1px 2px;
    position: absolute;
    /* border-left: none;
    background-color: white;
    border-right: 2px solid black; */
    /* margin-left: 5px; */
    border: none;
    background-color: rgba(255, 255, 255, 0);
    right: 20px;
}
.searchButton:hover{
    background-color: lightgray;
    cursor: pointer;
    border-radius: 50%;
}



.noSearchResultsWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 25px;
}

.rerouteBadSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: #F1641D;
    border-radius: 25px;
}
.rerouteBadSearch:hover{
    text-shadow: 0 0 3px 3px white;
    box-shadow: 0 0 3px 3px #F1641D;
    cursor: pointer;
}


.resultsWrapper{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 10px;
}
.moveRight{
    margin-left: 10%;
}
