.contentWrapper{
    padding-bottom: 100px;
}

.welcomeWrapper{
    display: flex;
    justify-content: center;
    background-color: #FDEBD2;
    font-family: "GraphikLight";
}
.circularCatWrapper{
    height: 100px;
    /* margin-bottom: 20px; */
}
.beige{
    background-color: #FDEBD2;
    display: flex;
    justify-content: space-evenly;

}
.circularWrapperleft{
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.carsDropDown{
    position: relative;
    display: inline-block;
    font-family: "GraphikLight";
}
#dropdownContainer{
    display: none;
    position:absolute;
    padding-left: 25px;
    /* background-color: aqua; */
    width:50px;
    height: auto;
    z-index: 1;
}
#hoverDrop:hover ~ .carsDropDown #dropdownContainer{
    display:block;
    /* background-color: grey; */
}
.carDrop{
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 2px lightgray;
    /* text-shadow: 0 0 2px 2px lightgray; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clothingDropDown{
    position: relative;
    display: inline-block;
}
#hoverdropCloth:hover ~ .clothingDropDown #clothingdropdownContainer{
    display: block;
}
#clothingdropdownContainer{
    display: none;
    position:absolute;
    padding-left: 25px;
    /* background-color: aqua; */
    width:50px;
    height: auto;
    z-index: 1;
}
.clothingDrop{
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 2px lightgray;
    /* text-shadow: 0 0 2px 2px lightgray; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.elDropDown{
    position: relative;
    display: inline-block;
}
#eldropdownContainer{
    display: none;
    position:absolute;
    padding-left: 25px;
    width:50px;
    height: auto;
    z-index: 1;
}
.elDrop{
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 2px lightgray;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hoverdropEl:hover ~ .elDropDown #eldropdownContainer{
    display: block;
}
.hgDropDown{
    position: relative;
    display: inline-block;
}
#hgdropdownContainer{
    display: none;
    position:absolute;
    padding-left: 25px;
    /* background-color: aqua; */
    width:50px;
    height: auto;
    z-index: 1;
}
.hgDrop{
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 2px lightgray;
    /* text-shadow: 0 0 2px 2px lightgray; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hoverdropHg:hover ~ .hgDropDown #hgdropdownContainer{
    display: block;
}
.miscDropDown{
    position: relative;
    display: inline-block;
}
#miscdropdownContainer{
    display: none;
    position:absolute;
    padding-left: 25px;
    /* background-color: aqua; */
    width:50px;
    height: auto;
    z-index: 1;
}
.miscDrop{
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px 2px lightgray;
    /* text-shadow: 0 0 2px 2px lightgray; */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hoverdropMisc:hover ~ .miscDropDown #miscdropdownContainer{
    display: block;
}

.circularWrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.circularWrapperright{
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.circular{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    /* background-color: blue; */
    border-radius: 50%;

}
.circular:hover{
    box-shadow: 0 0 2px 2px gray;
    cursor: pointer;
}
.circular img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.white{
    background-color: white;
    height: 50px;

}


.spotlightGridWrapper{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 400px;
    /* width: 100%; */
    margin-right: 10%;
    margin-left: 10%;
    /* background-color: lightgray; */
    display: flex;
    justify-content: space-between;
}
.spotCol1{
    width: 23%;
}
.top1{
    margin-bottom: 10px;
    height: 36%;
    position: relative;
    /* overflow: hidden; */
    border-radius: 10px;
}
.bottom1{
    height: 63%;
    border-radius: 10px;
    position: relative;
}
.spotCol2{
    width: 23%;
    border-radius: 10px;

}
.top2{
    height: 63%;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}
.bottom2{
    height: 36%;
    border-radius: 10px;
    position: relative;
}
.spotCol3{
    width: 23%;
    border-radius: 10px;

}
.top3{
    margin-bottom: 10px;
    height: 36%;
    border-radius: 10px;
    position: relative;
}
.bottom3{
    height: 63%;
    border-radius: 10px;
    position: relative;
}
.spotCol4{
    width: 23%;
    border-radius: 10px;

}
.top4{
    height: 63%;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
}
.bottom4{
    height: 36%;
    border-radius: 10px;
    position: relative;
}

#spotlightHover:hover{
    box-shadow: 0 0 5px 5px lightgray;
    cursor: pointer;
}
.spotlightpriceHolder{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border-radius: 25px;
}

.spotimage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.productCardWrapper{
    /* border: 1px solid black; */
    grid-column-start: auto;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 10px;
}

.marginLeft{
    margin-left: 10%;
}
#moveDown{
    margin-top: 50px;
}
